In [1]:
# Import Pandas.
import pandas as pd

# Read the CSV files from the current working directory.
transactions_2010 = pd.read_csv('transactions_2010.csv')
transactions_2011 = pd.read_csv('transactions_2011.csv')
products = pd.read_csv('products.csv')
customers = pd.read_csv('customers.csv')

# Concatenate the two DataFrames: transactions_2010 and transactions_2011.
transactions = pd.concat([transactions_2010, transactions_2011], axis=0)
transactions.shape

# Use the left join to merge transactions with products.
transactions_description = pd.merge(transactions, products, 
                                    on='StockCode', how='left')

# Use the left join to merge transactions_description with customers.
transactions_description_country = pd.merge(transactions_description, customers,
                                            on='CustomerID', how='left')

# View the DataFrame.
print(transactions_description_country.shape)
transactions_description_country.head()

(407755, 8)

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Description,Country
0,536365,85123A,6,2010-12-01 8:26,2.55,17850,CREAM HANGING HEART T-LIGHT HOLDER,United Kingdom
1,536365,71053,6,2010-12-01 8:26,3.39,17850,WHITE METAL LANTERN,United Kingdom
2,536365,84406B,8,2010-12-01 8:26,2.75,17850,CREAM CUPID HEARTS COAT HANGER,United Kingdom
3,536365,84029G,6,2010-12-01 8:26,3.39,17850,KNITTED UNION FLAG HOT WATER BOTTLE,United Kingdom
4,536365,84029E,6,2010-12-01 8:26,3.39,17850,RED WOOLLY HOTTIE WHITE HEART.,United Kingdom

In [4]:
# Transaction total.
transactions_description_country['SaleTotal'] = transactions_description_country['Quantity'] * transactions_description_country['UnitPrice']

# Total sales by country.
transactions_description_country.groupby('Country')[['SaleTotal']].sum()

                         SaleTotal
Country
Australia             1.384674e+05
Austria               1.673523e+04
Bahrain               5.484000e+02
Belgium               4.768227e+04
Brazil                1.143600e+03
Canada                3.666380e+03
Channel Islands       2.008629e+04
Cyprus                1.571288e+04
Czech Republic        7.077200e+02
Denmark               1.958720e+04
EIRE                  2.502852e+05
European Community    1.291750e+03
Finland               2.232674e+04
France                1.967128e+05
Germany               2.216982e+05
Greece                4.710520e+03
Iceland               4.310000e+03
Israel                6.994250e+03
Italy                 1.689051e+04
Japan                 3.534062e+04
Lebanon               1.693880e+03
Lithuania             1.661060e+03
Malta                 2.505470e+03
Netherlands           2.846615e+05
Norway                3.516346e+04
Poland                7.213140e+03
Portugal              2.905981e+04
RSA                   1.002310e+03
Saudi Arabia          1.311700e+02
Singapore             9.120390e+03
Spain                 5.961598e+04
Sweden                3.659591e+04
Switzerland           5.632195e+04
USA                   1.730920e+03
United Arab Emirates  1.902280e+03
United Kingdom        6.767873e+06
Unspecified           2.667070e+03

In [5]:
# Total sales by country.
# The \ indicates a line break without interrupting the code snippet.
transactions_description_country.groupby('Country')[['SaleTotal']].sum()\
.sort_values('SaleTotal', ascending=False)

                         SaleTotal
Country
United Kingdom        6.767873e+06
Netherlands           2.846615e+05
EIRE                  2.502852e+05
Germany               2.216982e+05
France                1.967128e+05
Australia             1.384674e+05
Spain                 5.961598e+04
Switzerland           5.632195e+04
Belgium               4.768227e+04
Sweden                3.659591e+04
Japan                 3.534062e+04
Norway                3.516346e+04
Portugal              2.905981e+04
Finland               2.232674e+04
Channel Islands       2.008629e+04
Denmark               1.958720e+04
Italy                 1.689051e+04
Austria               1.673523e+04
Cyprus                1.571288e+04
Singapore             9.120390e+03
Poland                7.213140e+03
Israel                6.994250e+03
Greece                4.710520e+03
Iceland               4.310000e+03
Canada                3.666380e+03
Unspecified           2.667070e+03
Malta                 2.505470e+03
United Arab Emirates  1.902280e+03
USA                   1.730920e+03
Lebanon               1.693880e+03
Lithuania             1.661060e+03
European Community    1.291750e+03
Brazil                1.143600e+03
RSA                   1.002310e+03
Czech Republic        7.077200e+02
Bahrain               5.484000e+02
Saudi Arabia          1.311700e+02

In [6]:
# Total and mean sales by country.
transactions_description_country.groupby('Country')[['SaleTotal']] \
.agg(['sum', 'mean'])

                         SaleTotal
                               sum        mean
Country
Australia             1.384674e+05  104.032615
Austria               1.673523e+04   26.313255
Bahrain               5.484000e+02   32.258824
Belgium               4.768227e+04   20.876651
Brazil                1.143600e+03   35.737500
Canada                3.666380e+03   24.280662
Channel Islands       2.008629e+04   26.499063
Cyprus                1.571288e+04   21.147887
Czech Republic        7.077200e+02   23.590667
Denmark               1.958720e+04   45.445940
EIRE                  2.502852e+05   33.438239
European Community    1.291750e+03   21.176230
Finland               2.232674e+04   32.124806
France                1.967128e+05   23.167217
Germany               2.216982e+05   23.348943
Greece                4.710520e+03   32.263836
Iceland               4.310000e+03   23.681319
Israel                6.994250e+03   27.977000
Italy                 1.689051e+04   21.034259
Japan                 3.534062e+04   98.716816
Lebanon               1.693880e+03   37.641778
Lithuania             1.661060e+03   47.458857
Malta                 2.505470e+03   19.728110
Netherlands           2.846615e+05  120.059696
Norway                3.516346e+04   32.378877
Poland                7.213140e+03   21.152903
Portugal              2.905981e+04   19.635007
RSA                   1.002310e+03   17.281207
Saudi Arabia          1.311700e+02   13.117000
Singapore             9.120390e+03   39.827031
Spain                 5.961598e+04   21.678538
Sweden                3.659591e+04   79.211926
Switzerland           5.632195e+04   29.627538
USA                   1.730920e+03    5.948179
United Arab Emirates  1.902280e+03   27.974706
United Kingdom        6.767873e+06   18.702086
Unspecified           2.667070e+03   10.930615

In [8]:
# Sort total and average sales by country.
transactions_description_country.groupby('Country')[['SaleTotal']] \
.agg(['sum', 'mean']) \
.sort_values([('SaleTotal', 'mean')])

                         SaleTotal
                               sum        mean
Country
USA                   1.730920e+03    5.948179
Unspecified           2.667070e+03   10.930615
Saudi Arabia          1.311700e+02   13.117000
RSA                   1.002310e+03   17.281207
United Kingdom        6.767873e+06   18.702086
Portugal              2.905981e+04   19.635007
Malta                 2.505470e+03   19.728110
Belgium               4.768227e+04   20.876651
Italy                 1.689051e+04   21.034259
Cyprus                1.571288e+04   21.147887
Poland                7.213140e+03   21.152903
European Community    1.291750e+03   21.176230
Spain                 5.961598e+04   21.678538
France                1.967128e+05   23.167217
Germany               2.216982e+05   23.348943
Czech Republic        7.077200e+02   23.590667
Iceland               4.310000e+03   23.681319
Canada                3.666380e+03   24.280662
Austria               1.673523e+04   26.313255
Channel Islands       2.008629e+04   26.499063
United Arab Emirates  1.902280e+03   27.974706
Israel                6.994250e+03   27.977000
Switzerland           5.632195e+04   29.627538
Finland               2.232674e+04   32.124806
Bahrain               5.484000e+02   32.258824
Greece                4.710520e+03   32.263836
Norway                3.516346e+04   32.378877
EIRE                  2.502852e+05   33.438239
Brazil                1.143600e+03   35.737500
Lebanon               1.693880e+03   37.641778
Singapore             9.120390e+03   39.827031
Denmark               1.958720e+04   45.445940
Lithuania             1.661060e+03   47.458857
Sweden                3.659591e+04   79.211926
Japan                 3.534062e+04   98.716816
Australia             1.384674e+05  104.032615
Netherlands           2.846615e+05  120.059696

In [9]:
# Top selling product.
transactions_description_country.groupby('Description')[['SaleTotal']] \
.sum() \
.sort_values('SaleTotal', ascending=False)

                                    SaleTotal
Description
REGENCY CAKESTAND 3 TIER            133112.65
CREAM HANGING HEART T-LIGHT HOLDER   94312.50
JUMBO BAG RED RETROSPOT              83277.06
POSTAGE                              68479.24
PARTY BUNTING                        67791.18
...                                       ...
WHITE CHERRY LIGHTS                    -54.00
CHALKBOARD KITCHEN ORGANISER           -87.80
Discount                             -5696.22
CRUK Commission                      -7933.43
Manual                              -58385.46

[3659 rows x 1 columns]